body {
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 5rem;
  max-width: 50vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #fef2f2;
}

.pixelify-sans {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.description {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.source-code-link {
  margin-bottom: 1rem;
  width: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-left: 4px solid black;
  position: relative;
  padding-left: 0.5rem;
}

.source-code-link box-icon {
  position: absolute;
  transition-property: all;
  transition-duration: 300ms;
  left: -5rem;
}

.source-code-link:hover box-icon {
  transition-property: all;
  transition-duration: 300ms;
  left: 0;
}

.source-code-link a {
  transition-property: all;
  transition-duration: 300ms;
}

.source-code-link:hover a {
  transition-property: all;
  transition-duration: 300ms;
  padding-left: 1rem;
}

h2 {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

ul li {
  display: flex;
  align-items: center;
  position: relative;
  border-left: solid 4px black;
  padding-left: 0.5rem;
  overflow: hidden;
}

ul li box-icon {
  position: absolute;
  left: -5rem;
  transition-property: all;
  transition-duration: 300ms;
}

ul li:hover box-icon {
  transition-property: all;
  transition-duration: 300ms;
  left: 0;
}

ul li a {
  transition-property: all;
  transition-duration: 300ms;
}

ul li:hover a {
  transition-property: all;
  transition-duration: 300ms;
  padding-left: 1rem;
}

@media screen and (max-width: 764px) {
  body {
    max-width: 100%;
    padding: 1rem;
  }
}
